    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/editar_tecnica.css') }}">
        <title>Editar Visita Técnica</title>
        <style>
            .styled-table {
                width: 100%;
                border-collapse: collapse;
            }
            .styled-table th, .styled-table td {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
            }
            .styled-table th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <h1>Editar Visita Técnica</h1>
        <form method="POST">

            <label>ID de Tecnica:</label>
            <input type="text" name="id_visita_tecnica" value="T{{ visita.id_visita_tecnica }}" readonly><br>

            <label>Fecha de Visita:</label>
            <input type="date" name="fecha_visita" value="{{ visita.fecha_visita }}" required><br>

            <label>Hora de Visita:</label>
            <input type="time" name="hora_visita" value="{{ visita.hora_visita }}" required><br>

            <label>Operador:</label>
            <select name="operador" required>
                {% for operador in operadores %}
                    <option value="{{ operador.id_operador }}" {% if operador.id_operador == visita.id_operador %}selected{% endif %}>
                        {{ operador.nombre }}
                    </option>
                {% endfor %}
            </select>
            <br>

            <label>Institucion:</label>
            <input type="text" name="institucion_id" value="{{ visita.sede_educativa }}" required><br>

            <label>Sede:</label>
            <input type="text" name="sede_id" value="{{ visita.nombre_sede }}" required><br>



            <label>Modalidad:</label>
            <select name="tipo_racion_tecnica" required>
                {% for tipo in tipos_racion %}
                    <option value="{{ tipo }}" {% if tipo == visita.tipo_racion_tecnica %}selected{% endif %}>
                        {{ tipo }}
                    </option>
                {% endfor %}
            </select>
            <br>

            <label>Focalización:</label>
            <input type="text" name="focalizacion" value="{{ visita.focalizacion }}" required><br>
        
            
            <p>Todos los servicios de alimentación escolar deberán cumplir las exigencias establecidas en la reglamentación técnico-sanitaria Resolución 2674 de 2013 y Resolución 00335 del 2021, que establece las normas de higiene para la elaboración, distribución y consumo de alimentos.</p>


            {% for pr in preguntas_respuestas %}
                <label>{{ pr.numero }} - {{ pr.preguntas }}</label>
                <div class="flex-container">
                    <select name="respuesta" required>
                        <option value="1" {% if pr.respuesta == '1' %}selected{% endif %}>Cumple</option>
                        <option value="0" {% if pr.respuesta == '0' %}selected{% endif %}>No Cumple</option>
                        <option value="2" {% if pr.respuesta == '2' %}selected{% endif %}>No Aplica</option>
                    </select>
                    <input type="text" name="observaciones" value="{{ pr.observaciones }}" placeholder="Observacion">
                </div>
            {% endfor %}
            

            <label>Observación General:</label>
            <textarea name="observacion_general">{{ visita.observacion_general }}</textarea><br>

            <h2>Datos de Toma de Peso</h2>
            <label>Desperdicio:</label>
            <select name="desperdicio" required>
                <option value="Si" {% if toma_peso.desperdicio == 'Si' %}selected{% endif %}>Si</option>
                <option value="No" {% if toma_peso.desperdicio == 'No' %}selected{% endif %}>No</option>
            </select><br>

            <label>Menú del Día:</label>
            <input type="text" name="menu_del_dia" value="{{ toma_peso.menu_del_dia }}" required><br>

            <table class="horizontal-table">
                <tr>
                    <th>Nivel 1</th>
                    <th>Nivel 2</th>
                    <th>Nivel 3</th>
                    <th>Nivel 4</th>
                    <th>Nivel 5</th>
                    <th>Total</th>
                </tr>
                <tr>
                    <td><input type="number" step="0.01" name="nivel1" value="{{ toma_peso.nivel1 }}" required></td>
                    <td><input type="number" step="0.01" name="nivel2" value="{{ toma_peso.nivel2 }}" required></td>
                    <td><input type="number" step="0.01" name="nivel3" value="{{ toma_peso.nivel3 }}" required></td>
                    <td><input type="number" step="0.01" name="nivel4" value="{{ toma_peso.nivel4 }}" required></td>
                    <td><input type="number" step="0.01" name="nivel5" value="{{ toma_peso.nivel5 }}" required></td>
                    <td><input type="number" step="0.01" name="total" value="{{ toma_peso.total }}" required></td>
                </tr>
            </table>


            {% if visita and componente_alimentario %}
                <h2>Cumplimiento de Gramajes Preparados AM/PM</h2>
                <h2>Tabla 1: Componente Alimentario (AM/PM)</h2>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Muestra</th>
                            <th>Componente</th>
                            <th>Nivel 1</th>
                            <th>Nivel 2</th>
                            <th>Nivel 3</th>
                            <th>Nivel 4</th>
                            <th>Nivel 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for componente in componente_alimentario %}
                            <tr>
                                <td>{{ componente.id_componente_alimentario }}</td>
                                <td>{{ componente.muestra }}</td>
                                <td>{{ componente.componente }}</td>
                                <td><input type="number" step="0.01" name="nivel_1_{{ componente.id_componente_alimentario }}" value="{{ componente.nivel_1 }}" required></td>
                                <td><input type="number" step="0.01" name="nivel_2_{{ componente.id_componente_alimentario }}" value="{{ componente.nivel_2 }}" required></td>
                                <td><input type="number" step="0.01" name="nivel_3_{{ componente.id_componente_alimentario }}" value="{{ componente.nivel_3 }}" required></td>
                                <td><input type="number" step="0.01" name="nivel_4_{{ componente.id_componente_alimentario }}" value="{{ componente.nivel_4 }}" required></td>
                                <td><input type="number" step="0.01" name="nivel_5_{{ componente.id_componente_alimentario }}" value="{{ componente.nivel_5 }}" required></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            {% else %}
                <p>No se encontraron datos para esta visita técnica.</p>
            {% endif %}


            <h2>Promedio de Componentes Alimentarios</h2>

            <div class="table-container">
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Nivel Escolar</th>
                            <th>Peso Patrón Bebida</th>
                            <th>Peso Patrón Proteico</th>
                            <th>Peso Patrón Cereal</th>
                            <th>Peso Patrón Fruta</th>
                            <th>Peso Obtenido Bebida</th>
                            <th>Peso Obtenido Proteico</th>
                            <th>Peso Obtenido Cereal</th>
                            <th>Peso Obtenido Fruta</th>
                            <th>Concepto Bebida</th>
                            <th>Concepto Proteico</th>
                            <th>Concepto Cereal</th>
                            <th>Concepto Fruta</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for componente in componente_promedio %}
                        <tr>
                            <td>{{ componente.nivel_escolar }}</td>
                            <td><input type="number" step="0.01" name="peso_patron_bebida_{{ componente.id_promedio }}" value="{{ componente.peso_patron_bebida }}" required></td>
                            <td><input type="number" step="0.01" name="peso_patron_proteico_{{ componente.id_promedio }}" value="{{ componente.peso_patron_proteico }}" required></td>
                            <td><input type="number" step="0.01" name="peso_patron_cereal_{{ componente.id_promedio }}" value="{{ componente.peso_patron_cereal }}" required></td>
                            <td><input type="number" step="0.01" name="peso_patron_fruta_{{ componente.id_promedio }}" value="{{ componente.peso_patron_fruta }}" required></td>
                            <td><input type="number" step="0.01" name="peso_obtenido_bebida_{{ componente.id_promedio }}" value="{{ componente.peso_obtenido_bebida }}" required></td>
                            <td><input type="number" step="0.01" name="peso_obtenido_proteico_{{ componente.id_promedio }}" value="{{ componente.peso_obtenido_proteico }}" required></td>
                            <td><input type="number" step="0.01" name="peso_obtenido_cereal_{{ componente.id_promedio }}" value="{{ componente.peso_obtenido_cereal }}" required></td>
                            <td><input type="number" step="0.01" name="peso_obtenido_fruta_{{ componente.id_promedio }}" value="{{ componente.peso_obtenido_fruta }}" required></td>
                            <td>
                                <select name="concepto_bebida_{{ componente.id_promedio }}">
                                    <option value="Cumple" {% if componente.concepto_bebida == 'Cumple' %}selected{% endif %}>Cumple</option>
                                    <option value="No Cumple" {% if componente.concepto_bebida == 'No Cumple' %}selected{% endif %}>No Cumple</option>
                                    <option value="No Aplica" {% if componente.concepto_bebida == 'No Aplica' %}selected{% endif %}>No Aplica</option>
                                </select>
                            </td>
                            <td>
                                <select name="concepto_proteico_{{ componente.id_promedio }}">
                                    <option value="Cumple" {% if componente.concepto_proteico == 'Cumple' %}selected{% endif %}>Cumple</option>
                                    <option value="No Cumple" {% if componente.concepto_proteico == 'No Cumple' %}selected{% endif %}>No Cumple</option>
                                    <option value="No Aplica" {% if componente.concepto_proteico == 'No Aplica' %}selected{% endif %}>No Aplica</option>
                                </select>
                            </td>
                            <td>
                                <select name="concepto_cereal_{{ componente.id_promedio }}">
                                    <option value="Cumple" {% if componente.concepto_cereal == 'Cumple' %}selected{% endif %}>Cumple</option>
                                    <option value="No Cumple" {% if componente.concepto_cereal == 'No Cumple' %}selected{% endif %}>No Cumple</option>
                                    <option value="No Aplica" {% if componente.concepto_cereal == 'No Aplica' %}selected{% endif %}>No Aplica</option>
                                </select>
                            </td>
                            <td>
                                <select name="concepto_fruta_{{ componente.id_promedio }}">
                                    <option value="Cumple" {% if componente.concepto_fruta == 'Cumple' %}selected{% endif %}>Cumple</option>
                                    <option value="No Cumple" {% if componente.concepto_fruta == 'No Cumple' %}selected{% endif %}>No Cumple</option>
                                    <option value="No Aplica" {% if componente.concepto_fruta == 'No Aplica' %}selected{% endif %}>No Aplica</option>
                                </select>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
                <br>

                <h2>Gestión de Temperaturas</h2>

                {% if temperaturas %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Componente</th>
                            <th>Temperatura (°C)</th>
                            <th>Concepto</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for temp in temperaturas %}
                            <tr>
                                <td>{{ temp.componente }}</td>
                                <td>
                                    <input type="number" step="0.1" name="temperatura_{{ temp.id_temperatura }}" 
                                        value="{{ temp.temperatura }}" required>
                                </td>
                                <td>
                                    <select name="concepto_{{ temp.id_temperatura }}" required>
                                        <option value="Cumple" {% if temp.concepto == "Cumple" %} selected {% endif %}>Cumple</option>
                                        <option value="No Cumple" {% if temp.concepto == "No Cumple" %} selected {% endif %}>No Cumple</option>
                                        <option value="No Aplica" {% if temp.concepto == "No Aplica" %} selected {% endif %}>No Aplica</option>
                                    </select>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
                {% else %}
                    <p>No se encontraron registros de temperatura para esta visita técnica.</p>
                {% endif %}

                <label>Observación General:</label>
                <textarea name="observacion_toma_peso">{{ toma_peso.observacion }}</textarea><br>



                {% if visita and firmas %}
                    <h2>Firmas de la Visita Técnica</h2>
                    <table class="styled-table">
                        <thead>
                            <tr>
                                <th>Nombre del Representante</th>
                                <th>Cédula del Representante</th>
                                <th>Nombre del Profesional</th>
                                <th>Cédula del Profesional</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" name="nombre_representante" value="{{ firmas.nombre_representante }}" required></td>
                                <td><input type="text" name="cedula_representante" value="{{ firmas.cedula_representante }}" required></td>
                                <td><input type="text" name="nombre_profesional" value="{{ firmas.nombre_profesional }}" required></td>
                                <td><input type="text" name="cedula_profesional" value="{{ firmas.cedula_profesional }}" required></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                {% endif %}



            
            
            <button type="submit">Actualizar</button>
        </form>
    </body>
    </html>
