/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}

/* Form Styles */
form {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"], input[type="date"], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
    text-transform: none;
}

/* Styles for the checkbox group */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.form-check {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%; /* Make it take full width on smaller screens */
}

@media (min-width: 600px) {
    .form-check {
        width: calc(50% - 10px); /* Two checkboxes per row on medium and larger screens */
    }
}

@media (min-width: 900px) {
    .form-check {
        width: calc(33.33% - 10px); /* Three checkboxes per row on larger screens */
    }
}

.form-check-input {
    margin-right: 10px;
}

.form-check-label {
    font-weight: normal;
    color: #555;
}

/* Tables */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

table th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: #333;
}

.ingredients-table th {
    background-color: #e0f7fa;
}

input[type="number"] {
    text-align: center;
}

/* Buttons */
button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Link Styles */
a {
    text-decoration: none;
    color: #0059b3;
    display: inline-block;
    margin-bottom: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"], input[type="date"], select, textarea {
        padding: 8px;
        font-size: 14px;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 16px;
    }
}
