<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/index.css">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido al Sistema de Gestión de PAE</h1>
    
    <ul>
        <li><a href="/infraestructura">Formulario de Infraestructura</a></li>
        <li><a href="/intercambio">Formulario de Intercambio</a></li>
        <li><a href="/bodega">Formulario de Bodega</a></li>
        <li><a href="/tecnica">Formulario de Tecnica</a></li>
        <!-- Aquí podrías añadir más enlaces en el futuro -->
    </ul>

</body>
</html>
