/* Estilos básicos y tipografía */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #004d99;
    text-align: center;
    font-size: 2.5rem;
    margin-top: 50px;
}

/* Estilos del menú */
ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

li {
    margin: 0 20px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #004d99;
    background-color: #fff;
    padding: 10px 20px;
    border: 2px solid #004d99;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #004d99;
    color: #fff;
}

/* Estilos del cuerpo y el fondo */

/* Responsivo */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    ul {
        flex-direction: column;
    }

    li {
        margin: 10px 0;
    }

    a {
        font-size: 1rem;
        padding: 8px 15px;
    }
}
